#aPropos{
    background:url("../../images/atelier-bijoux-atelier-creatif.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
  & > main{
      height:89vh;
      width:100vw;
      display:grid;
     
        & > h1{

    }
        & > p{

    }
  }
}