#login {

    &>section {
        background:url("https://pro-artista.fr/profiles/breches-bijoux/breches-bijoux-b6bc7-lg.jpeg");
        background-size:cover;
        height: 79vh;
        display: grid;
        &>form {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; // background-color:grey;
            justify-self: center;
            align-self: center;
            height: 50vh;
            width: 25vw;
            display: grid;
            background:rgb(255,255,255,0.2);
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            &>h1 {
                font-size: 3rem;
                align-self: center;
                justify-self: center;
            }
             &>fieldset:nth-of-type(1) {
                 width:70%;
                justify-self: center;
                font-size: 2rem;
                 display:grid;
                 grid-template-rows:1fr 1fr;
                 &>label{
                    padding:0.3rem; 
                 }
                 &>input{
                     height:80%;
                     font-size:1.5rem;
                 }
             }
             &>fieldset:nth-of-type(2) {
                 width:70%;
                justify-self: center;
                font-size: 2rem;
                 display:grid;
                 grid-template-rows:1fr 1fr;
                 &>label{
                     padding:0.3rem;
                 }
                 &>input{
                     font-size:1.5rem;
                     height:80%;
                 }
             }
            &>fieldset:nth-of-type(3) {
                justify-self: center;
                align-self:center;
                font-size: 2rem;
                width:60%;
                height:60%;
                display:grid;
                
                &>button {
                    justify-self:center;
                    width: 85%;
                    // height: 70%;
                    font-size:1.8rem;
                }
            }
            &>p {
                font-size:1.6rem;
                align-self: center;
                justify-self: center;

            }
        }
    }
}