#monPanier {
background:#E8E8E8;
    &>main {
        width:80%;
        margin: 0 auto;
        display: grid;
        padding: 3rem;
        grid-template-columns:1fr 1fr;
        &>section:nth-of-type(1) {
            background:white;
            border-radius:10px;
            // justify-self: center;
            // align-self: center;
            // display: grid;
            // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            // width: 75vw;
            padding: 1rem;
            &>article {
                // justify-self:center;
                align-self:center;
                // width:66%;
                // transition: transform 830ms;
                display: grid;
                // margin-bottom: 2rem;
                // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

                // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
              
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                &>figure {
                    // padding: 0.7rem;
                    grid-row:1/7;
                    img {
                        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        width: 100%;
                    }

                }
                &>p {
                    // justify-self: center;
                    // align-self: center;
                    font-size: 2rem;
                }

                &>a {
                    // justify-self: center;
                    // align-self: center;
                    // font-size: 1.8rem;
                    // justify-self: center;
                    // align-self: center;
                    // margin-bottom: 0.7rem;
                }
                
            }
            &>article:hover{
                //  animation-duration: 1s;
                //   animation-name: slidein;
              
            }
            &>p {
              
            }
            &>header {
           margin-bottom:1rem;
            &>h2 {
              font-weight:bold;
              font-size:3rem;
            }
            &>p{
               
            }

        }
        }
        &>section:nth-of-type(2) {
            
            &>a {
                
            }
        }
        
    }
}

@keyframes slidein {
  0% {   transform: rotate3d(1, 0, 0, 0deg); }
  49% {   transform: rotate3d(1, 0, 0, 25deg); }
  49.1% {   transform: rotate3d(1, 0, 0, 25deg); }
  100% {   transform: rotate3d(1, 0, 0, 0deg); }
}