#product {
    
    &>section{
        height:79vh;
        padding:3rem;
        display:grid;
        &>article{
            justify-self:center;
            align-self:center;
            height:80%;
            width:80%;
            &>a{
                &>figure{
                    img{
                        width:30vw;
                        // max-height:50vh;
                    }
                }
            }
        }
    }
    
}