#products {

    &>section {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        padding: 2rem;
        &>article {
            max-width:300px;
            height: 60vh;
            border: 1px solid black;
            display: grid;
            grid-template-rows: 2fr 1fr;
            &>a {
                &>figure {

                    height: 40vh;
                    padding: 0.3rem;
                    &>img {

                        width: 100%;
                        
                    }
                }
            }

            &>h1 {}
            &>p:nth-of-type(1) {}
            &>p:nth-of-type(2) {}
            &>p:nth-of-type(3) {}
            &>p:nth-of-type(4) {}
            &>p:nth-of-type(5) {}

        }

    }

}